html, body {
    margin: 0;
    background-color: #efefef;
    font-family: sans-serif;
}

#push-client-div {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(5, 5, 5, .6);
    color: #fff;
    display: block;
    padding: 0;
    margin: 0;
    text-align: center;
}

#push-client-div-body {
    display: none;
    background-color: white;
    width: 95%;
    margin:0 auto;
}

#push-client-div-title {
    height:28px;
    width: 100%;
    background: rgba(177,177,177,0.86);
}

#push-client-div-html {
    height:570px;
    width: 100%;
}

#push-client-div-iframe {
    padding: 0;
    margin: 0;
    border: 0;
}


#push-client-div-colse{
     display: block;
     float: right;
     height: 28px;
     width: 28px;
     font-size: 28px;
     line-height: 28px;
     text-shadow: 0 1px 2px rgba(0,0,0,.1);
     -o-transform: rotate(45deg);
     -moz-transform: rotate(45deg);
     -webkit-transform: rotate(45deg);
     -ms-transform: rotate(45deg);
}
